<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTD "Nomads life"</title>
  </head>
  <style>
    @media (max-width: 768px) {
      .nav {
        display: flex;
        flex-direction: column;
      }
    }
  </style>
  <body>
    <div
      style="width: 100%; height: auto; border: 2px solid rgb(181, 178, 178)"
    >
      <div
        class="nav"
        style="
          display: flex;
         padding: 100px 100px 30px 100px;
         justify-content: space-around;
        "
      >
        <div style="line-height: 0.5">
          <h3>LTD "Nomads life"</h3>
          <p>Kyrgyzstan ,Bishkek,720038</p>
          <p>Masaliev avenue,79 office 21</p>
          <p>Tel: <span>+996-779-066-600</span></p>
          <p>w/a: <span>+996-779-066-600</span></p>
        </div>
        <div>
          <img
            style="width: 300px"
            src="https://nomadslife.travel/media/logo.jpg"
            alt=""
          />
        </div>
        <div style="line-height: 0.5">
          <h3>ОсОО Номадс Лайф</h3>
          <p>Кыргызстан ,Бишкек ,720038</p>
          <p>Проспект Масалиева,79 офис 21</p>
          <p>Tel: <span>+996-779-066-600</span></p>
          <p>w/a: <span>+996-779-066-600</span></p>
        </div>
      </div>
      <div
        style="
          width: 84%;
          height: 900px;
          color: #0d0d0d;
          background-color: #ddd;
          margin: 0 auto;
          padding: 20px;
        "
      >
        <h4>{{subject}}</h4>
        {{body}}
      </div>
    </div>
  </body>
</html>