<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Nomads Life</title>
</head>
<body>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center"  margin: 0 auto, position: relative, left: 50%, transform: translateX(-50%)>
                <table width="600" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="33%" style="line-height: 0.5;">
                            <h3>LTD "Nomads life"</h3>
                            <p>Kyrgyzstan, Bishkek, 720038</p>
                            <p>Masaliev avenue, 79 office 21</p>
                            <p>Tel: +996-779-066-600</p>
                            <p>w/a: +996-779-066-600</p>
                        </td>
                        <td align="center" width="33%">
                            <img src="https://nomadslife.travel/media/logo.jpeg" width="200" alt="">
                        </td>
                        <td align="center" width="33%" style="line-height: 0.5;">
                            <h3>ОсОО Номадс Лайф</h3>
                            <p>Кыргызстан, Бишкек, 720038</p>
                            <p>Проспект Масалиева, 79 офис 21</p>
                            <p>Tel: +996-779-066-600</p>
                            <p>w/a: +996-779-066-600</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="600" cellpadding="0" cellspacing="0" bgcolor="#ddd" style="border: 2px solid #b5b2b2; margin: 0 auto;">
      <tr>
          <td align="center" style="padding: 20px;">
              <h4 style="margin: 0; font-size: 20px; color: #0d0d0d;">{{subject}}</h4>
              <div style="font-size: 16px; color: #0d0d0d;">{{body}}</div>
          </td>
      </tr>
  </table>
  
</body>
</html>