@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

#header {
    background: #FFD593;
    backdrop-filter: blur(25px);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#branding #site-name a {
    color: #000;
}

#user-tools {
    color: #000;
}

#user-tools:first-child {
    color: red;
}

#header #user-tools a {
    color: #000;
    margin-right: 20px;
}

#user-tools a,
#logout-form button {
    color: red;
}

.module caption,
.inline-group {
    background: #FFD593;
    backdrop-filter: blur(25px);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

a.section:link,
a.section:visited,
#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
    color: #000;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    background: #FFD593;
    color: #000;
    border: none;
    outline: none;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    color: #000;
    border: none;
    outline: none
}

.ui-tabs .ui-tabs-nav {
    background: rgba(255, 238, 212, 1);
    border: none;
}

.ui-tabs .ui-tabs-panel {
    background: #FFD593;
}

.ui-tabs .ui-tabs-nav li {
    border: none;
}

div.breadcrumbs {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 50%;
    border-radius: 10px;
    margin: 20px;
    background: #fff;
    color: #000;
}

div.breadcrumbs a {
    color: #000;
    margin-left: 10px;
}

div.breadcrumbs a:hover {
    color: #000;
}

#nav-filter {
    border-radius: 5px;
}

#nav-sidebar {
    padding: 10px;
    border: none;
}

.module {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 7px;
}

.module table tbody tr:last-child td {
    border-radius: 7px;
}

.module table tbody tr:first-child td {
    border-radius: 7px;
}

#content-related {
    border-radius: 7px;
}
